* {
  margin: 0;
  padding: 0;
}

/*Banner*/
.vacaciones-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.vacas-banner {
  width: 100%;
}
.vacas-banner img {
  width: 100%;
  object-fit: contain;
}

/*Titulo principal*/
.contenedor-titulo-principal {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0;
}
.contenedor-titulo-principal p {
  text-align: center;
  font-size: 24px;
}
.imagen-titulo {
  width: 75%;
}
.imagen-titulo img {
  width: 100%;
  object-fit: contain;
}

/*Categorías hovereables*/

.categorias-cuadros-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 0.5em;
  margin: 0 0 2rem 0;
}
.cuadro-categoria {
  width: 49.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cuadro-categoria p {
  position: absolute;
  color: white;
  font-size: 28px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}


.cuadro-overlay {
  width: 100%;
}
.cuadro-overlay img {
  display: block;
  width: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.cuadro-overlay img:nth-child(1) {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.cuadro-overlay img:nth-child(2) {
  opacity: 0;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.clima-normal {
  background: hsl(0, 0%, 0%);
}

/*Estilos de seccion media*/
.container-cuerpo-carousel {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e8eff5;
  padding: 4rem 0;
}
.contenedor-jeans {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contenedor-imagen-texto {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.imagen-contenedor {
  width: 45%;
}
.imagen-contenedor img {
  width: 100%;
}

.texto-contenedor {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.texto-contenedor img {
  width: 100%;
  max-width: 450px;
  object-fit: contain;
}
.texto-contenedor p {
  width: 65%;
  text-align: center;
  font-size: 24px;
}

.vacaciones-btn {
  color: white;
  background: #4f7381;
  padding: 16px 32px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}


/*slick carousel*/

.o-carousel {
  width: 100%;
}

/*POLOS*/
.reversed {
  flex-direction: row-reverse;
}

/*CHAQUETAS Y BERMUDAS*/

.contenedor-chaq-berm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 0;
    padding: 2em 0 4em 0;
}
.chaq-ber-img{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.chaq-ber-img img{
    width: 95%;
}
.text-img{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}
.text-img p{
  width: 40%;
  padding-right: 3em;
  font-size: 24px;
}
.text-img img{
  width: 40%;
  border-left: 2px solid red;
  padding-left: 3em;
}
.repad p{
 
  padding-left: 3em;
  padding-right: 0;

}
.bged{
  background-image: url(/arquivos/Qst-bermudas-bg.png);
  background-position: bottom;
    background-size: cover;
}

.repad img{

  border-left:none;
  border-right: 2px solid red;
  padding-left: 0;
  padding-right: 3em;
}

@media(hover:hover){

    .vacaciones-btn:hover {
        background: #004561;
      }
      .cuadro-categoria:hover .cuadro-overlay img:nth-child(1) {
        opacity: 0;
      }
      .cuadro-categoria:hover .cuadro-overlay img:nth-child(2) {
        opacity: 1;
      }
      .cuadro-categoria:hover .override-opacity img:nth-child(1) {
        opacity: 0.7 !important;
      }
      .cuadro-categoria:hover p {
        opacity: 1;
      }
      
      .cuadro-categoria:hover .cuadro-overlay {
        background-color: rgba(0, 0, 0, 0.562);
      }
      .cuadro-categoria:hover .cuadro-overlay img {
        opacity: 0.7;
      }
}