*{
    margin: 0;
    padding: 0;
}

/*Banner*/
.vacaciones-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.vacas-banner{
    width: 100%;
}
.vacas-banner img{
    width: 100%;
    object-fit: contain;
}


/*Titulo principal*/
.contenedor-titulo-principal{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 0;
}
.contenedor-titulo-principal p{
    text-align: center;
}
.imagen-titulo{
    width: 75%;

}
.imagen-titulo img{
    width: 100%;
    object-fit: contain;
}

/*Categorías hovereables*/

.categorias-cuadros-container{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%;
}
.cuadro-categoria{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.cuadro-categoria p{
position: absolute;
color: white;
font-size: 28px;
opacity: 0;
transition: all 0.3s ease-in-out;
}
.cuadro-categoria:hover p{
    opacity: 1;
}
.cuadro-categoria:hover .cuadro-overlay{
    background-color: rgba(0, 0, 0, 0.562);
}
.cuadro-categoria:hover .cuadro-overlay img{
    opacity: 0.7;
    
}
.cuadro-overlay{
width: 100%;
}
.cuadro-overlay img{
    display: block;
    width: 100%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

.frio{
    background: hsl(214, 100%, 57%);
}
.calido{
background: hsl(0, 100%, 45%);
}
.clima-normal{
    background: hsl(0, 0%, 0%);
}